*{
    font-family:monospace ;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 5px 20px;
    align-items: center;
    flex: 1;

}

ul{
    display: flex;
    gap: 20px;
   
}

img{
    height: 180px;
    width: auto;
}

/* .logo1{
    height: 25px;
    width: auto;
} */

li{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.first{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

p{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.first img{
    height: 360px;
    width: auto;
}

button{
    background-color: #3882f6;
    width: 80px;
    height: 40px;
    border: radius 0;;
    flex-shrink: 0;
}

.text_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.product-images img{
    height: 250px;
    width: 250px;
    border-radius: 50%;

}

.product-images {
    display: flex;
    justify-content: space-evenly;
}

.dronenames{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dronenames div{
    font-size: 16px;
    padding: 10px 0;
}

.third{
    background-color: #e5e7eb;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fourth{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    padding: 10px 90px;
    background-color: #3882f6;
    height: 200px;
}

.one,.two,.three{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    height: 30px;
}